html {
    display: table;
    margin: auto;
}

body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
}

.ff-wrapper {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    width: 400px;
    text-align: initial;
    min-height: calc(100vh - 40px);
    border-left: 1px solid #f1f0f0;
    border-right: 1px solid #f1f0f0;
    padding: 20px;
}

    .ff-wrapper > h1 {
        margin: 0;
    }

    .ff-form-wrapper {
        width: 100%;
        display: inline-block;
    }

.ff-text
{
    font-size: 12px;
    background: #f1f0f0;
    min-height: 15px;
    border-radius: 12px;
    padding: 6px 8px;
    max-width: 168px;
    color: #4b4f56;
    width: auto;
    display: inline-block;
}

.ff-list-menu-button
{
    border: 1px solid rgba(0, 0, 0, .18);
    width: 188px;
    margin-top: 1px;
    border-radius: 12px;
}

    .ff-list-menu-button > .ff-menu-button
    {
        padding-top: 9px;
        padding-bottom: 9px;
        text-align: center;
        width: 100%;
        font-weight: 600;
        color: #365899;
        cursor: pointer;
        
    }

        .ff-list-menu-button > .ff-menu-button:not(:last-child)
        {
            border-bottom: 1px solid rgba(0, 0, 0, .18);
        }

.ff-code {
    font-family: Menlo, Consolas, Monaco, monospace;
    padding: 10px;
    background: #fdf5d4;
    border: 1px solid #f1c40f;
    color: #1d2129;
    border-radius: 12px;
    display: inline-block;
    max-width: 168px;
}

/* COMMON */
.ff-float-right {
    float: right;
}

.ff-form-blue {
    background: #4080ff;
    color: #fff;
}

.ff-full-width {
    width: 100%;
}

.ff-display-inline-block {
    display: inline-block;
}

.ff-small-rounder-top-left {
    border-top-left-radius: 2px;
}

.ff-small-rounder-top-right {
    border-top-right-radius: 2px;
}

.ff-small-rounder-bottom-left {
    border-bottom-left-radius: 2px;
}

.ff-small-rounder-bottom-right {
    border-bottom-right-radius: 2px;
}